.fila{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.newsSection{
    margin-top: 4em;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.container{
    position: relative;   
}

.display-3{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}